:root {
  /* COLOR */
  --purple-dark: #210735;
  --purple-dark-rgb: 33, 7, 53;
  --purple-medium: #330f4e;
  --purple-light: #56118b;

  --green-dark: #1f4720;
  --green-dark-rgb: 31, 71, 32;
  --green-medium: #466b48;
  --green-light: #39ff14;

  --text-color: white;
  --sub-title-color: #b3b3b3;
  --link-color: royalblue;
  --highlight-blue: #0077ff4d;
  --highlight-blue-rgb: 0, 119, 255;

  --glass-border: #ffffff80;
  --glass-border-green: #c8ffd980;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: var(--text-color);
  padding-top: 140px;
  height: 100%;
}

::selection {
  background-color: var(--green-dark); 
  color: var(--green-light); 
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--purple-light) transparent;  
}

a {
  color: white;
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 5px;
}

.text-container a {
  color: var(--link-color); /* ultramarine is too dark */
}

.text-container a:hover {
  text-decoration: underline;
}

@media (max-width: 660px) {

  .main-container {
    gap: 10px;
  }
  
  .text-container {
    padding: 20px;
    font-size: medium;
  }