@media (max-width: 660px) {
  * {
    scrollbar-width: none;
  }

  .favicon,
  .seeker {
    display: none;
  }
  /* Hide the checkbox */
  .menu-toggle {
    display: none;
  }
  
  .logo-title {
    font-size: 6vw;
    text-wrap: wrap;
    max-width: 75%;
  }
  
  .hamburger-wrapper { 
    position: absolute; 
    top: 10px; /* Distance from the top */
    right: 15px; /* Distance from the right */
    z-index: 1; /* Ensures it appears above other elements */
    font-size: 40px;
  }
  /* Hamburger icon */
  .hamburger {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 25px;
    z-index: 1; 
  }

  .hamburger-menu {
    display: none;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100vh;
    scrollbar-width: none;
  }

  .menu {
    list-style-type: none;
    padding: 5px;
  }

  .menu > li {
    font-size: 2.5vh;
  }

  

  .dropdown a {
    padding: 10px 0px; /* Padding around links */
    display: block;
 
  }
  




  /* When checkbox is checked, show the menu */
  .menu-toggle:checked + .hamburger-menu {
    display: block;

  }
}
