
header * {
  user-select: none;
}

header {
  position: fixed;
  z-index: 9999;
  width: calc(100% - 1rem);
  top: 0px;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 15px 20px 5px black;
}

/* Title */

.title-background {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 5px;
  padding: 5px;
  background-image: linear-gradient(to right, var(--purple-dark), transparent);
}

.logo-link {
  display: flex;
  align-items: center;
}

.favicon {
  margin: 10px 5px 10px 15px;
  height: 30px;
  width: 30px; 
  border-radius: 10px;
}

.logo-title {
  padding: 2px;
  font-size: clamp(2rem, 4.5vw, 2.5rem);
  text-decoration: none;
  letter-spacing: 3px;
  text-wrap: nowrap;
}

.title-background:hover  {
  background-image: linear-gradient(to right, var(--purple-medium), var(--purple-dark), transparent);
}

/* seeker */
.seeker {
  margin-top: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: linear-gradient(to right, rgb(25, 25, 25), transparent);
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: 1rem;
}

.seeker i, .seeker a {
  color: grey;
  padding: 1;
  margin: 1;
}

.seeker a:hover {
  color: var(--text-color);
}

.seeker i:not(:last-of-type)::after {
  content: " / ";
  margin: 1px;
}

.seeker i:first-child {
  padding-left: 22px;
}

@media (min-width: 660px) {
/* Menu background and other */
.menu {
  list-style: none;
  margin: 0px;
  margin-top: 5px;
  background: linear-gradient(to right, rgb(40, 40, 40), rgba(25, 25, 25, 0.6));
  border-radius: 10px 50px 50px 10px;
  padding-left: 0px;
  display: flex;
}

nav ul li {
  position: relative;
  flex-grow: 1;
}

/* Menu Names */
ul.menu > li > a {
  display: block;
  font-size: 1.5rem;
  padding: 5px 50px 5px 20px;
}

/* menu items */
ul.dropdown li a {
  display: block;
  font-size: 1.25rem;
  padding: 5px 50px 5px 20px;
}

/* Arrow down icon */
ul.menu > li > a::after {
  content: '❯'; 
  position: absolute;
  right: 30px;
  transition: transform 0.3s ease; 
}

/* dropdown background */
ul li ul.dropdown { 
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
  list-style: none;
  padding: 0; 
  margin: 0;
  top: 100%;
  left: 0;
  /* menu items background */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); 
  border: 0.5px solid var(--glass-border);
  box-shadow: 0 15px 50px 5px black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: max-content;
}

/* menu items */
ul.menu li a:hover {
  background-image: linear-gradient(to right, var(--purple-medium), black);
  border-radius: 10px 50px 50px 10px;
}

/* Flip the arrow on hover */
li:hover > a::after,
ul.dropdown li:hover ~ li a::after {
  transform: rotate(90deg);
}

ul.dropdown li a:hover {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-right: 6px solid #ffffff;
  background-image: linear-gradient(to right, var(--purple-medium), transparent);
}

/* last item */
ul.dropdown li:last-child a {
  border-bottom-left-radius: 30px ;
}
ul.dropdown li:first-child a {
  border-top-left-radius: 0 ;
}


ul li:hover ul.dropdown, ul.dropdown:hover {
  display: block;
}

.hamburger-wrapper {
  display: none
}

}