
html {
  font-size: 18px;
}

body {
  background-color: black;
  color: whitesmoke;
  padding-top: 145px;
  height: 100%;
}

a {
  color: whitesmoke;
  font-weight: lighter;
  text-decoration: none;
}


header * {
  user-select: none;
}

header {
  position: fixed;
  z-index: 9999;
  width: calc(100% - 1rem);
  top: 0px;
  background-color: black;
  border-radius: 5px;
}

/* seeker */

.seeker {
  margin-top: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: linear-gradient(to right, #161616, transparent);
  border-radius: 5px;
}

.seeker a {
  color: grey;
  padding: 1;
  margin: 1;
}

.seeker a:hover {
  color: whitesmoke;
}

.seeker i:not(:last-of-type) a::after {
  content: " / ";
  margin: 1px;
}

.seeker i:first-child {
  padding-left: 22px;
}

/* Title */

.title-background {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-top: 5px;
  padding: 5px;
  background-image: linear-gradient(to right, #210735, transparent);
}

.logo-link {
  display: flex;
  align-items: baseline;
  margin-left: 20px;
  margin-top: 5px;
}

.favicon {
  height: 30px;
  width: 30px; 
  margin-right: 10px;
  border-radius: 10px;
}

.logo-title {
  padding: 2px;
  font-size: 40px;
  text-decoration: none;
  letter-spacing: 3px;
}

/* Menu background and other */
.menu {
  list-style: none;
  margin: 0px;
  margin-top: 5px;
  background: linear-gradient(to right, rgb(40, 40, 40), rgba(25, 25, 25, 0.6));
  border-radius: 10px 50px 50px 10px;
  padding-left: 0px;
  display: flex;
}

nav ul li {
  position: relative;
  flex-grow: 1;
}

/* Menu Names */
ul.menu > li > a {
  display: block;
  font-size: 25px;
  padding: 5px 50px 5px 20px;
}

/* menu items */
ul.dropdown li a {
  display: block;
  font-size: 20px;
  padding: 5px 50px 5px 20px;
}

/* Arrow down icon */
ul.menu > li > a::after {
  content: '❯'; 
  position: absolute;
  right: 30px;
  transition: transform 0.3s ease; 
}

/* dropdown background */
ul li ul.dropdown { 
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
  list-style: none;
  padding: 0; 
  margin: 0;
  top: 100%;
  left: 0;
  /* menu items background */
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); 
  border: 0.5px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.647);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: max-content;
}

/* menu items */
ul.menu li a:hover {
  background-image: linear-gradient(to right, #210735, black);
  border-radius: 10px 50px 50px 10px;
}

/* Flip the arrow on hover */
li:hover > a::after,
ul.dropdown li:hover ~ li a::after {
  transform: rotate(90deg);
}

ul.dropdown li a:hover {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-right: 6px solid #ffffff;
  background-image: linear-gradient(to right, #210735, transparent);
}

ul.dropdown li:last-child a /* last item */{
  border-bottom-left-radius: 30px ;
}

ul li:hover ul.dropdown, ul.dropdown:hover {
  display: block;
}

/* Main Body */

.main-container {
  display: flex;
  gap: 20px;
  margin: 5px;
}

.text-container {
  flex: 2;
  padding: 40px;
  border-radius: 20px;
  border: 1px inset rgba(255, 255, 255, 0.4);
  background: 
    radial-gradient(ellipse at top, #1e1e1ead, transparent);
  box-shadow: 5px 20px 50px 0px rgba(60, 60, 60, 0.4);
  font-size: larger;
}

.image-links-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

img.self-portrait {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
  user-select: none;
  border: 1px inset rgba(131, 187, 255, 0.4);
  box-shadow: 0px 20px 50px 0px rgba(131, 187, 255, 0.1);
}

.link-container {
  padding: 15px;
  border-radius: 20px;
  border: 1px inset rgba(200, 255, 217, 0.4);
  background: 
  radial-gradient(ellipse at top, rgb(31, 71, 32), transparent);
  box-shadow: 0px 20px 50px 0px rgba(31, 71, 32, 0.4);
}

span.link-title {
  margin: 10px 0px 0px 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  list-style: none;
  padding-left: 10px;
  margin: 2px;
}

.links li a {
  display: block;  
  text-wrap: nowrap;
  padding: 15px 0px 15px 0px;
}

.links li:hover, .links li:hover a  {
  color: #39ff14;
}

.links li:hover .link-favicon-circle, .links li:hover .link-favicon-square {
  background-color: #39ff14;
  border: 1px solid #39ff14;;
}

.copy {
  display: block; 
  border-top: 1px solid rgb(70, 107, 72);
  width: 100%; 
  padding-top: 10px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.link-favicon-circle {
  width: calc(1rem - 3px);
  height: calc(1rem - 3px);
  border-radius: 50%;
  border: 1px solid white;
  background-color: whitesmoke;
  margin: 0px 5px 0px 0px;
}

.link-favicon-square {
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
  border-radius: 10%;
  border: 1px solid white;
  background-color: whitesmoke;
  margin: 0px 5px 0px 0px;
}

/* Text */

h1 {
  margin-top: 0px;
}

details {
  user-select: none;
}


/* Media queries, mobile views */