

body {
  margin-left: 2rem;
  margin-right: 2rem;
  /* color */
  background-color: black;
  color: white;
  padding-top: 150px;
  height: 100%;
}

a {
  color: #FFF;
  font-weight: lighter;
}

/* Navigation Bar */

header * {
  user-select: none;
}

header {
  position: fixed;
  z-index: 9999;
  width: calc(100% - 4rem);
  top: 0px;
  padding-bottom: 5px;
   /* background */
  background: radial-gradient(ellipse at bottom,
   rgba(0, 0, 0, 0.9),#000000 70%);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.title-background {
  border-top-left-radius: 120px;
  border-bottom-left-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  background-image: linear-gradient(to right, #210735, transparent);
  height: auto;
}

.logo-link {
  display: flex;
  align-items: baseline;
  margin-left: 40px;
  margin-top: 5px;
}

.favicon {
  height: 30px;
  width: 30px; 
  margin-right: 10px;
  border-radius: 10px;
}

.logo-title {
  padding: 2px;
  font-size: 40px;
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 2px;
}

.title-background a {
  text-decoration: none;
}

/* sections */

.menu {
  list-style: none;
  margin: 0px;
  margin-top: 5px;
  background-image: linear-gradient(to right, rgb(30, 30, 30), transparent);
  border-radius: 5px;
  padding-left: 0px;
  /* display */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav ul li {
  position: relative;
  flex-grow: 1;
}

ul.menu li a /* Menu Name */{
  display: block;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  padding: 5px 50px 5px 50px;
}

ul.menu > li > a::after {
  content: '❯'; /* Arrow down icon */
  position: absolute;
  right: 30px;
  transition: transform 0.3s ease; 
}

ul li ul.dropdown { 
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
  list-style: none;
  padding: 0; 
  margin: 0;
  top: 100%;
  left: 0;
  /* menu items background */
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); 
  border: 0.5px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul.dropdown li a /* menu items */{
  display: block;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
}

/* hovers */

ul.menu > li > a:hover /* menu titles */{
  background-image: linear-gradient(to right, #210735, black);
  border-radius: 10px 50px 50px 10px;
}

ul.menu > li > a:hover::after {
  transform: rotate(90deg); /* Flip the arrow on hover */
}

ul.dropdown li a:hover /* items */{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-image: linear-gradient(to right, #210735, transparent);
  border-right: 6px solid #ffffff;
}

ul.dropdown li:last-child a /* last item */{
  border-bottom-left-radius: 30px ;
}

ul li:hover ul.dropdown, ul.dropdown:hover {
  display: block;
}

/* seeker */

.seeker {
  margin-top: 5px;
  padding-top: 2px;
  padding-bottom: 0px;
  background: linear-gradient(to right, #161616, transparent);
  border-radius: 10px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.seeker a {
  color: whitesmoke;
  text-decoration: none;
}

.seeker a::after {
  content: "/";
  margin-left: 10px;
  margin-right: 5px;
}

.seeker a:first-child {
  padding-left: 40px;
}

/* Main Body */

/* .main-container * {
    outline: 2px solid red;
} */

.main-container {
  display: flex;
  gap: 20px;
}

.text-container {
  flex: 2;
  padding: 40px;
  border-radius: 20px;
  border: 1px inset rgba(255, 255, 255, 0.3);
  background: 
    radial-gradient(ellipse at top, #1e1e1ead, transparent);
  box-shadow: 5px 20px 50px 0 rgba(60, 62, 60, 0.35);
}

.image-links-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

img.self-portrait {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
  user-select: none;
  border: 1px inset rgba(131, 187, 255, 0.3);
}

.link-container {
  padding: 15px;
  border-radius: 20px;
  border: 1px inset rgba(200, 255, 217, 0.3);
  background: 
    radial-gradient(ellipse at top, rgb(31, 71, 32), transparent);
  box-shadow: 5px 20px 50px 0 rgba(31, 71, 32, 0.35);
}

.link-container a:hover {
  color: #03FF00;
}

span.link-title {
  margin: 10px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.5;
}

/* Extra bits */

@media only screen and (max-width: 750px) {
  .hide-on-mobile {
    display: none;
  }
  .menu {
    flex-direction: column; /* Stack menu items vertically */
  }