.text-container {
  flex: 2 1 400px;
  padding: 40px 40px 20px 40px;
  border-radius: 20px;
  border: 0.5px solid var(--glass-border);
  box-shadow: 5px 20px 50px 5px rgba(var(--purple-dark-rgb), 0.8);
  background: 
    radial-gradient(ellipse at top, rgba(30, 30, 30, 0.7), transparent, rgba(var(--purple-dark-rgb), 0.8));
  font-size: larger;
}

.text-container:has(.long-text){
  background: 
    radial-gradient(ellipse at top, rgba(20, 20, 20), transparent, rgba(var(--purple-dark-rgb), 0.8));
}

details {
  line-height: 1.75;
}

summary {
  cursor: pointer;
  user-select: none;
}

.long-text {
  display: flex;
  align-items: center;     
  flex-direction: column;
}  

h1 {
  font-size: 3rem;
  margin-top: 0px;
  text-align: start;
}  

h2 {
  border-top: 0.5px solid var(--glass-border);
  padding-top: 10px;
}  

p {
  line-height: 1.75;
  text-align: justify;
  hyphens: auto; 
  overflow-wrap: break-word;
  margin: 15px 0 15px 0;
}  

i, em {
  font-family: 'Times-New-Roman', Times, serif;
}

.long-text p {
  max-width: 80ch;
  
}  

strong {
  font-weight: normal;
}  

q {
  margin: 0 10% 0 10%;
}  

.nowrap {
  text-wrap: nowrap;
}  

footer {
  margin-top: 40px;
  padding-top: 5px;
}

footer p {
  line-height: 1.2;
  padding: 2px;
}

.footnotes {
  padding-left: 20px;
}

.footnotes li {
  text-align: left; 
}

.footnotes p {
  text-align: left; 
}

.footnote-back {
  scroll-margin-top: 40vh;
}

:target {
  animation: highlight ease-in-out 3s;
}

@keyframes highlight {
  from { 
    background-color: var(--link-color);
    color: black;
  }
  to { 
    background-color: transparent; 
  }
}