[submodule "cnd"]
	path = cnd
	url = https://github.com/Forrai-Zoltan/cdn
[submodule "library"]
	path = personal/library
	url = https://github.com/Forrai-Zoltan/library
[submodule "poetry"]
	path = poetry
	url = https://github.com/Forrai-Zoltan/poetry
[submodule "shorts"]
	path = shorts
	url = https://github.com/Forrai-Zoltan/shorts
[submodule "essays"]
	path = essays
	url = https://github.com/Forrai-Zoltan/essays
