 * {
  outline: 2px solid red;
} 

body {
  margin: 4rem;
  margin-top: 2rem;
  /* color */
  background-color: black;
  color: white;
}

.title-background {
 /* radius */
 border-top-right-radius: 100%;
 border-top-left-radius: 150px;
 border-bottom-right-radius: 100%;
 /* border */
 margin-right: 10%;
 padding: 1rem;
 background-image: linear-gradient(to right, #2d0f44, black);
 height: 40px;
}

.logo-title a {
  /* border */
  margin-left: 40px;
  font-size: 40px;
  color: whitesmoke;
  text-decoration: none;
}

.nav-background {
  margin: 0px;
  margin-top: 5px;
  background-image: linear-gradient(to right, #1a1a1a, black);
  border-radius: 2px;
  border-top-right-radius: 100%;
}

.menu {
  display: flex;
  margin: 0px;
  margin-left: 40px;

}

.menu-items {
  margin: 10px;
  
}

