

body {
  margin: 2rem;
  margin-top: 0.5rem;
  /* color */
  background-color: black;
  color: white;
}

/* Navigation Bar */

.title-background {
  /* radius */
  border-top-right-radius: 100%;
  border-top-left-radius: 120px;
  border-bottom-right-radius: 100%;
  /* border */
  padding: 5px;
  background-image: linear-gradient(to right, #210735, black);
  height: auto;
}

.logo-link {
  display: flex;
  align-items: baseline;
  margin-left: 40px;
  margin-top: 5px;
  user-select: none;
}

.favicon {
  height: 30px;
  width: 30px; 
  margin-right: 10px;
  border-radius: 10px;
}

.logo-title {
  padding: 2px;
  font-size: 40px;
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 2px;
}

.title-background a {
  text-decoration: none;
}

/* sections */

.menu {
  list-style: none;
  margin: 0px;
  margin-top: 5px;
  background-image: linear-gradient(to right, rgb(30, 30, 30), black);
  border-radius: 2px;
  padding-left: 0px;
  /* display */
  display: flex;
  justify-content: space-evenly;
}

ul li {
  display: inline-block;
  position: relative;
}

ul.menu li a /* Menu Name */{
  display: block;
  color: #FFF;
  text-decoration: none;
  text-align: left;
  font-size: 25px;
  margin: 5px;

}

ul.dropdown li a {
  display: block;
  font-size: 20px;
}

ul li ul.dropdown {
  width: 100%;
  background-image: linear-gradient(to right, rgb(30, 30, 30), black);
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background-image: linear-gradient(to right, #210735, black);
}

ul li:hover ul.dropdown {
  display: block;
}

/* Extra bits */

@media only screen and (max-width: 750px) {
  .hide-on-mobile {
    display: none;
  }