:root {
  --color-gray-100: hsl(225, 40%, 98%);
  --color-gray-150: hsl(225, 40%, 97%);
  --color-gray-200: hsl(225, 40%, 96%);
  --color-gray-250: hsl(225, 40%, 93%);
  --color-gray-300: hsl(220, 29%, 90%);
  --color-gray-350: hsl(220, 29%, 85%);
  --color-gray-400: hsl(219, 20%, 80%);
  --color-gray-450: hsl(219, 20%, 70%);
  --color-gray-500: hsl(219, 10%, 60%);
  --color-gray-550: hsl(219, 10%, 50%);
  --color-gray-600: hsl(221, 8%, 40%);
  --color-gray-650: hsl(221, 8%, 30%);
  --color-gray-700: hsl(218, 8%, 20%);
  --color-gray-750: hsl(218, 8%, 16%);
  --color-gray-800: hsl(220, 5%, 12%);
  --color-gray-850: hsl(220, 5%, 9%);
  --color-gray-900: hsl(210, 6%, 7%);

  --color-gray-100-a: 225, 40%, 98%;
  --color-gray-150-a: 225, 40%, 97%;
  --color-gray-200-a: 225, 40%, 96%;
  --color-gray-250-a: 225, 40%, 93%;
  --color-gray-300-a: 220, 29%, 90%;
  --color-gray-350-a: 220, 29%, 85%;
  --color-gray-400-a: 219, 20%, 80%;
  --color-gray-450-a: 219, 20%, 70%;
  --color-gray-500-a: 219, 10%, 60%;
  --color-gray-550-a: 219, 10%, 50%;
  --color-gray-600-a: 221, 8%, 40%;
  --color-gray-650-a: 221, 8%, 30%;
  --color-gray-700-a: 218, 8%, 20%;
  --color-gray-750-a: 218, 8%, 16%;
  --color-gray-800-a: 220, 5%, 12%;
  --color-gray-850-a: 220, 5%, 9%;
  --color-gray-900-a: 210, 6%, 7%;

  --color-black: hsl(0, 0%, 6%);
  --color-white: #fff;
  --color-off-white: #ddd;

  --color-purple: hsl(270, 80%, 20%);
  --color-purple-a: 270, 80%, 20%;
  --color-purple-dark: hsl(270, 80%, 15%);
  --color-purple-dark-a: 270, 80%, 15%;
  --color-purple-hover: hsl(270, 80%, 25%);
  --color-purple-hover-a: 270, 80%, 22%;

  --color-orange: orange;

  --color-green: hsl(120, 30%, 13%);
  --color-green-light: hsl(120, 100%, 50%);
  --color-green-light-a: 120, 100%, 50%;

  --color-link: hsl(210, 70%, 55%);
  --color-link-hover: hsl(210, 90%, 70%);
  --color-link-active: hsl(210, 90%, 35%);

  --color-link-visited: hsl(270, 45%, 55%);
  --color-link-visited-hover: hsl(270, 45%, 70%);
  --color-link-visited-active: hsl(270, 45%, 35%);

  --glass-border: 0.25px solid rgba(255, 255, 255, 0.2);

  --font-size: 24px;
  --font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

::selection {
  background-color: var(--color-green);
  color: var(--color-green-light);
}

:focus-visible {
  outline: 3px solid orange;
  transition: outline 0.2s ease;
  border-radius: inherit;
}

html {
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font);
  scrollbar-color: var(--color-purple) var(--color-purple);
  scrollbar-width: thin;
  caret-color: orange;
  height: 100%;
}

body {
  color: var(--color-white);
  line-height: 1.6;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: black;
}

header {
  backdrop-filter: blur(20px);
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0.75));
  padding: 5px 0 0 0;
  width: calc(100% - 1px);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 5;
}

/* TITLE BAR */

nav#site-title-bar {
  background: linear-gradient(
    to right,
    transparent,
    var(--color-purple) 1.5%,
    var(--color-purple),
    transparent
  );
  border-radius: 0px 200px 200px 0px;
  /* border-right: 8px white solid; */
  overflow-x: hidden;
  user-select: none;

  a {
    line-height: 1;
    color: hsl(0, 0%, 90%);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 0.05em;
  }

  img {
    height: 1.5rem;
    margin: 0.5rem 0.8rem 0.5rem 1.3rem;
    border-radius: 10px;
  }

  &:hover,
  &:focus-visible {
    background: linear-gradient(
      to right,
      transparent,
      var(--color-purple-hover) 1.5%,
      var(--color-purple-hover),
      transparent
    );

    a {
      color: hsl(0, 0%, 100%);
    }
  }
}

nav#site-title-bar:hover::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 52.5px;
  width: 99vw;
  height: 20px;
  background: radial-gradient(
    ellipse 100% 80% at 20% 0,
    hsla(var(--color-purple-hover-a), 0.7) 0%,
    transparent 80%
  );
  pointer-events: none;
  z-index: 5;
}
nav#site-title-bar:hover::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 70px;
  width: 100%;
  height: 30px;
  background: linear-gradient(
    to right,
    black,
    hsl(var(--color-gray-900-a), 0.9),
    hsl(var(--color-gray-800-a), 0.5) 1.4%,
    transparent 2%
  );
  pointer-events: none;
  z-index: 7;
}

/* BREADCURMBS */

nav#breadcrumbs {
  user-select: none;
  background: linear-gradient(
    to right,
    transparent,
    var(--color-gray-800) 1.5%,
    var(--color-gray-850) 70%,
    transparent
  );

  margin-top: 5px;
  padding: 3px 4px 3px 1.35rem;
  line-height: 1.2;
  color: hsl(0, 0%, 50%);
  font-size: 0.8rem;

  a {
    color: hsl(0, 0%, 50%);
    text-decoration: none;
    font-size: 0.8rem;

    &:last-of-type {
      color: hsl(0, 0%, 80%);
    }

    &:hover,
    &:focus-visible {
      color: hsl(0, 0%, 100%);
      text-decoration: underline;
    }
  }
}

/* DROPDOWN */

nav#dropdown-menu {
  background: linear-gradient(
    to right,
    var(--color-gray-750),
    var(--color-gray-800)
  );
  margin: 5px 10px 0 10px;
  border-radius: 25px;
  box-shadow: 0px 5px 10px black;

  a {
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    display: block;
    height: 100%;
    padding-left: 2.65rem;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  li.dropdown-category {
    border-radius: 25px;
    flex: 1;
    text-align: left;
    font-size: 1rem;
    border-right: 5px solid transparent;
    border-left: 0.5px transparent;
    position: relative;
    user-select: none;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 5px;
      width: 100%;
      z-index: 1;
    }

    &::before {
      content: "▶";
      position: absolute;
      left: 1rem;
      right: auto;
      top: 55%;
      transform: translateY(-50%);
      font-size: 0.7rem;
      transition: transform 0.3s ease;
    }

    &:hover,
    &:focus-within {
      cursor: pointer;
      border-radius: 25px;
      border-right: 5px white solid;
      border-left: var(--glass-border);
      background: linear-gradient(
        to right,
        var(--color-purple-hover),
        rgba(0, 0, 0)
      );

      > ul {
        display: block;
      }

      &:before {
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }
}

nav#dropdown-menu li.dropdown-category ul {
  display: none;
  margin-top: 5px;
  position: absolute;
  width: 95%;
  top: 100%;
  left: 0;
  padding: 10px;
  border-radius: 10px;
  background: radial-gradient(
    ellipse 200% 100% at top left,
    hsl(var(--color-purple-a), 0.4),
    hsla(var(--color-gray-900-a), 0.2),
    hsla(var(--color-gray-900-a), 0.4)
  );
  box-shadow: 20px 30px 20px rgba(10, 10, 10, 0.6);
  border: var(--glass-border);
  backdrop-filter: blur(10px);

  li {
    border-radius: 5px;

    &:hover {
      background: linear-gradient(
        to right,
        var(--color-purple-hover),
        rgba(0, 0, 0, 0)
      );
    }
    & a {
      color: var(--color-white);
    }

    a:focus-visible {
      background: linear-gradient(
        to right,
        var(--color-purple-hover),
        rgba(0, 0, 0, 0)
      );
    }

    /* &:last-of-type {
      border-radius: 5px 5px 10px 10px;
    }
    &:first-of-type {
      border-radius: 10px 10px 5px 5px;
    } */
  }

  a {
    padding-left: 0.5rem;
  }
}

main {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 0.5rem;
}

aside {
  flex: 2.5;
  display: flex;
  flex-direction: column;
}

div#img-wrapper {
  perspective: 2000px;
  margin-bottom: 0.5rem;
  position: relative;

  &:hover img#profile-pic {
    transform: rotateY(-10deg);
  }

  &:hover::after {
    transform: rotateY(-10deg) rotate(5deg) translateY(0px);
    opacity: 1;
  }

  &::after {
    transform: rotate(0deg) translateY(-30px);
    content: "";
    border-radius: 20px;
    height: 100px;
    width: 100%;
    bottom: -15px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: -5;
    transition: transform 0.4s ease, opacity 0.3s ease;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
}

img#profile-pic {
  border: var(--glass-border);
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  position: relative;
  transition: transform 0.4s ease;
  transform-origin: 10% 0%;
  user-select: none;
}

div#green-box {
  box-shadow: inset 0px -10px 25px -11px rgba(0, 0, 0, 0.8),
    inset 0px 15px 20px -10px rgba(0, 0, 0, 0.8);
  flex: 1;
  border: var(--glass-border);
  border-radius: 20px;
  background: radial-gradient(
    circle at top,
    var(--color-black) 30%,
    hsla(var(--color-green-light-a), 0.3) 90%
  );
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
  height: 100%;

  p {
    font-weight: bold;
    font-size: 0.9rem;
    margin: 1.2rem 0 0.5rem 0;
    user-select: none;
  }
}

a#btn-message-me {
  text-decoration: none;
  font-weight: bold;
  user-select: none;
  border: var(--glass-border);
  height: 2.5rem;
  width: 100%;
  border-radius: 20px;
  background: radial-gradient(
    circle at center,
    var(--color-purple),
    var(--color-purple),
    var(--color-purple-dark)
  );
  color: var(--color-gray-100);
  font-size: 1.1rem;
  font-family: inherit;
  box-shadow: 0px 5px 10px 2px hsla(var(--color-purple-dark-a), 0.85),
    inset 0px -7.5px 25px -10px rgba(0, 0, 0, 0.6),
    inset 0px 10px 25px -10px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:hover,
  &:focus-visible {
    transform: scale(1.05);
    border: var(--glass-border);
    color: var(--color-white);
    cursor: pointer;
    background: radial-gradient(
      circle at center,
      var(--color-purple-hover),
      var(--color-purple-hover),
      var(--color-purple),
      var(--color-purple-dark)
    );
    box-shadow: 0px 15px 19px 2px hsla(var(--color-purple-dark-a), 0.7),
      inset 0px -7.5px 25px -10px rgba(0, 0, 0, 0.6),
      inset 0px 10px 25px -10px rgba(0, 0, 0, 0.6);
  }

  &:active {
    transform: scale(1.02);
    background: radial-gradient(
      circle at center,
      var(--color-purple),
      var(--color-purple-dark),
      var(--color-purple-dark)
    );
  }

  span {
    padding: 0 30px;
  }
}

form#contact-form,
form#secret-form {
  max-width: 550px;
  margin: 1rem auto 0 auto;

  fieldset {
    display: flex;
    flex-direction: column;
    border: none;
  }

  label {
    font-size: 1.1rem;
  }

  input,
  textarea {
    box-shadow: inset 0 0 5px 5px hsla(0, 0%, 10%, 1);
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
    background-color: var(--color-gray-800);
    border: var(--glass-border);
    color: var(--color-white);
    border-radius: 10px;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    resize: none;

    &::placeholder {
      color: var(--color-gray-600);
    }

    &:focus {
      background-color: var(--color-gray-750);
      box-shadow: inset 0 0 5px 5px hsla(0, 0%, 10%, 0.5);
      outline: none;

      &::placeholder {
        color: var(--color-gray-500);
      }
    }
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill {
    background-color: var(--color-gray-800) !important;
    color: var(--color-white) !important;
    -webkit-text-fill-color: var(--color-white) !important;
    font-family: inherit !important;
    transition: background-color 9999s ease-in-out 0s;
  }

  button {
    margin-top: 1rem;
    text-decoration: none;
    font-weight: bold;
    user-select: none;
    border: var(--glass-border);
    height: 2.5rem;
    width: 100%;
    border-radius: 20px;
    background: radial-gradient(
      circle at center,
      var(--color-purple),
      var(--color-purple),
      var(--color-purple-dark)
    );
    color: var(--color-gray-100);
    font-size: 1.1rem;
    font-family: inherit;
    box-shadow: 0px 5px 10px 2px hsla(var(--color-purple-dark-a), 0.85),
      inset 0px -7.5px 25px -10px rgba(0, 0, 0, 0.6),
      inset 0px 10px 25px -10px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.2s ease, background 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover,
    &:focus-visible {
      transform: scale(1.05);
      border: var(--glass-border);
      color: var(--color-white);
      cursor: pointer;
      background: radial-gradient(
        circle at center,
        var(--color-purple-hover),
        var(--color-purple-hover),
        var(--color-purple),
        var(--color-purple-dark)
      );
      box-shadow: 0px 15px 19px 2px hsla(var(--color-purple-dark-a), 0.7),
        inset 0px -7.5px 25px -10px rgba(0, 0, 0, 0.6),
        inset 0px 10px 25px -10px rgba(0, 0, 0, 0.6);
    }

    &:active {
      transform: scale(1.02);
      background: radial-gradient(
        circle at center,
        var(--color-purple),
        var(--color-purple-dark),
        var(--color-purple-dark)
      );
    }
  }
}

article {
  box-shadow: inset 0px -10px 25px -10px rgba(0, 0, 0, 0.6),
    inset 0px 15px 20px -10px rgba(0, 0, 0, 0.8);
  border: var(--glass-border);
  border-radius: 20px;
  background: radial-gradient(
    circle at top,
    var(--color-black),
    var(--color-black),
    hsla(var(--color-purple-a), 0.9) 99%
  );
  flex: 7;

  > section {
    padding: 2rem;
    margin-inline: auto;
    max-width: max-content;
  }
}

article a {
  color: var(--color-link);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;

  &:hover,
  &:focus-visible {
    color: var(--color-link-hover);
  }

  &:active {
    color: var(--color-link-active);
  }

  &:visited {
    color: var(--color-link-visited);

    &:hover,
    &:focus-visible {
      color: var(--color-link-visited-hover);
    }

    &:active {
      color: var(--color-link-visited-active);
    }
  }
}

h1 {
  font-size: 3.1rem;
  line-height: 1;
  letter-spacing: 0.05em;
  margin: 1rem 0 2rem 0;
  color: var(--color-off-white);

  &#index-h1 {
    text-align: center;
    padding-bottom: 15px;
  }

  &#contact {
    text-align: center;
    font-size: 2rem;
    margin: 0;
  }
}

section:has(section#secret-flow) {
  padding-top: 0;
}

section#secret-flow {
  padding: 0 3rem 0 2rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 5rem;
  width: 80vw;
}

div#secret-feedback {
  visibility: hidden;
  text-align: center;
  padding-top: 2.5rem;
  font-size: 1.1rem;
  color: orangered;
}

div#secret-rhyme {
  font-size: var(--font-size);
  color: var(--color-off-white);
  margin: 0;
  font-family: inherit;
  flex: 1;

  p {
    margin: 0;
    white-space: nowrap;
  }
}

form#secret-form {
  flex: 1;
  align-self: center;

  & label {
    user-select: none;
  }
}

p {
  font-size: var(--font-size);
  color: var(--color-off-white);
  max-width: 70ch;
  overflow-wrap: break-word;
  margin: 1.25rem 0;
  font-family: inherit;

  &#ch65 {
    visibility: hidden;
    overflow-wrap: anywhere;
    height: 0;
    margin: 0;
  }
}

p a.btn-inter-nav {
  margin: 30px 0;
  color: var(--color-off-white);
  text-decoration: none;
  font-weight: bold;
  user-select: none;
  border: var(--glass-border);
  height: 2.6rem;
  border-radius: 15px;
  background: radial-gradient(
    circle at bottom,
    hsla(var(--color-gray-900-a), 0.2),
    transparent
  );
  backdrop-filter: blur(50px);
  color: var(--color-gray-100);
  font-size: 1.3rem;
  font-family: inherit;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.6),
    inset 0px -8px 25px -10px rgba(0, 0, 0, 0.6),
    inset 0px 10px 25px -10px rgba(0, 0, 0, 0.6);
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  width: 50ch;
  max-width: 80vw;

  &:hover,
  &:focus-visible {
    transform: scale(1.075);
    color: var(--color-white);
    border: var(--glass-border);
    color: var(--color-white);
    cursor: pointer;
    background: radial-gradient(
      circle at center,
      hsla(var(--color-gray-800-a), 0.5),
      transparent
    );
    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.6),
      inset 0px -7.5px 25px -10px rgba(0, 0, 0, 0.6),
      inset 0px 10px 25px -10px rgba(0, 0, 0, 0.6);
  }

  &:active {
    transform: scale(1.02);
    background: radial-gradient(
      circle at center,
      hsla(var(--color-gray-750-a), 0.5),
      hsla(var(--color-gray-800-a), 0.5),
      hsla(var(--color-gray-850-a), 0.5),
      hsla(var(--color-gray-900-a), 0.5)
    );
  }
}

em {
  font-size: 1.1rem;
}
strong {
  font-weight: 900;
  -webkit-text-stroke: 0.3px white;
}

span.no-wrap {
  white-space: nowrap;
}
