pspotify-p {
  position: relative;
  margin: 0;
  max-width: 100%;
  aspect-ratio: 3 / 1;

  overflow: hidden;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;

  background-color: light-dark(white, #181818);
  box-shadow: 3px 3px 5px 0px hsla(from var(--black) h s l / 0.3);

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    pointer-events: none;

    box-shadow: inset 0px -10px 25px -10px var(--spt-shadow-dark),
      inset 0px 15px 20px -10px var(--spt-shadow-darker);

    z-index: 1;
  }
}

#spotify-light {
  display: none;
}

html.light {
  #spotify-dark {
    display: none;
  }
  #spotify-light {
    display: block;
  }
}

@media (max-width: 660px) {
  pspotify-p {
    max-width: fit-content;
  }
  pspotify-p img {
    min-width: calc(100vw - 12px);
  }
}
