:root {
  color-scheme: light;

  /* GREY SCALE */
  --c-g-90: light-dark(hsl(210, 6%, 7%), hsl(225, 40%, 98%));
  --c-g-85: light-dark(hsl(220, 5%, 9%), hsl(225, 40%, 97%));
  --c-g-80: light-dark(hsl(220, 5%, 12%), hsl(225, 40%, 96%));
  --c-g-75: light-dark(hsl(218, 8%, 16%), hsl(225, 40%, 93%));
  --c-g-70: light-dark(hsl(218, 8%, 20%), hsl(220, 29%, 90%));
  --c-g-65: light-dark(hsl(221, 8%, 30%), hsl(220, 29%, 85%));
  --c-g-60: light-dark(hsl(221, 8%, 40%), hsl(219, 20%, 80%));
  --c-g-55: light-dark(hsl(219, 10%, 50%), hsl(219, 20%, 70%));
  --c-g-50: light-dark(hsl(219, 10%, 60%), hsl(219, 10%, 60%));
  --c-g-45: light-dark(hsl(219, 20%, 70%), hsl(219, 10%, 50%));
  --c-g-40: light-dark(hsl(219, 20%, 80%), hsl(221, 8%, 40%));
  --c-g-35: light-dark(hsl(220, 29%, 85%), hsl(221, 8%, 30%));
  --c-g-30: light-dark(hsl(220, 29%, 90%), hsl(218, 8%, 20%));
  --c-g-25: light-dark(hsl(225, 40%, 93%), hsl(218, 8%, 16%));
  --c-g-20: light-dark(hsl(225, 40%, 96%), hsl(220, 5%, 12%));
  --c-g-15: light-dark(hsl(225, 40%, 97%), hsl(220, 5%, 9%));
  --c-g-10: light-dark(hsl(225, 40%, 98%), hsl(210, 6%, 7%));

  --black: black;
  --white: white;
  --off-black: hsl(0, 0%, 20%);
  --off-white: hsl(0, 0%, 90%);

  --glass-border: 1px solid
    light-dark(hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 100%, 0.2));
  --glass-border-b: 1px solid
    light-dark(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 100%, 0.4));


  --c-purple: light-dark(hsl(270, 80%, 35%), hsl(270, 80%, 20%));
  --c-purple-l: hsl(from var(--c-purple) h s calc(l + 5));

  --c-purple-l2: hsl(from var(--c-purple) h s calc(l + 45));
  --c-purple-d: hsl(from var(--c-purple) h s calc(l - 5));

  --c-green: hsl(120, 80%, 17%);

  --c-blue: hsl(210, 80%, 40%);

  /* TEXT */
  --c-text: light-dark(var(--black), var(--off-white));

  /* LINKS */
  --c-text-a-hid: var(--c-text);
  --c-text-a-hid-l: hsl(from var(--c-text-a-hid) h s calc(l + 10));

  --c-text-a: light-dark(hsl(210, 90%, 40%), hsl(210, 70%, 55%));
  --c-text-a-hov: hsl(from var(--c-text-a) h calc(s + 20) calc(l + 15));
  --c-text-a-act: hsl(from var(--c-text-a) h calc(s + 20) calc(l - 20));

  --c-text-a-v: hsl(from var(--c-text-a) calc(h + 60) calc(s - 25) l);
  --c-text-a-v-hov: hsl(from var(--c-text-a-v) h s calc(l + 15));
  --c-text-a-v-act: hsl(from var(--c-text-a-v) h s calc(l - 10));

  /* BACKGROUNDS */
  --c-canvas-bg: light-dark(var(--c-g-35), var(--black));

  --c-main-box-bg: light-dark(var(--c-g-30), hsl(0, 0%, 6%));
}

:root.dark {
  color-scheme: dark;
}
