:root {
  color-scheme: dark;

  /* TITLEBAR */
  --grad-titlebar: linear-gradient(
    to right,
    transparent,
    light-dark(hsl(from var(--c-purple) h s calc(l + 5)), var(--c-purple)) 1%,
    light-dark(hsl(from var(--c-purple) h s calc(l + 5)), var(--c-purple)),
    transparent
  );

  --grad-titlebar-mobile: linear-gradient(
    to right,
    var(--c-purple),
    var(--c-purple),
    transparent
  );

  --grad-titlebar-l: linear-gradient(
    to right,
    transparent,
    light-dark(hsl(from var(--c-purple-l) h s calc(l + 10)), var(--c-purple-l))
      5%,
    light-dark(hsl(from var(--c-purple-l) h s calc(l + 10)), var(--c-purple-l)),
    transparent
  );

  --grad-titlebar-after: radial-gradient(
    ellipse 100% 80% at 20% 0,
    light-dark(
        hsl(from var(--c-purple-l) h s calc(l + 5) / 0.4),
        hsl(from var(--c-purple-l) h s l / 0.8)
      )
      0%,
    transparent 80%
  );

  /* NAV */
  --grad-nav-strip: linear-gradient(
    to right,
    light-dark(hsla(from var(--c-g-45) h s 72%), var(--c-g-25)),
    light-dark(var(--c-g-45), var(--c-g-20))
  );

  --grad-nav-item-hover: linear-gradient(
    to right,
    var(--c-purple-l),
    light-dark(transparent, black)
  );

  --grad-nav-dropdown: radial-gradient(
    ellipse 280% 80% at top left,
    light-dark(
      hsla(from var(--c-purple) h s calc(l + 40) / 0.8),
      hsla(from var(--c-purple) h s l / 0.8)
    ),
    light-dark(
      hsla(from var(--c-g-20) h s l / 0.5),
      hsla(from var(--c-g-10) h s l / 0.6)
    ),
    light-dark(
      hsla(from var(--c-g-20) h s l / 0.5),
      hsla(from var(--c-g-10) h s l / 0.6)
    ),
    light-dark(
      hsla(from var(--c-g-20) h s l / 0.4),
      hsla(from var(--c-g-10) h s l / 0.7)
    )
  );

  --grad-nav-dropdown-mobile: radial-gradient(
    ellipse 300% 50% at top left,
    hsla(from var(--c-purple-l) h s l / 0.2),
    hsla(from var(--c-g-10) h s l / 0.4),
    hsla(from var(--c-g-10) h s l / 0.4),
    hsla(from var(--c-g-10) h s l / 0.6)
  );

  /* --- */

  --grad-mb-purple-rad: radial-gradient(
    ellipse 80% 170% at top,
    light-dark(white, transparent),
    light-dark(transparent, transparent) 40%,
    light-dark(
        hsla(from var(--c-purple) h s calc(l + 5) / 0.6),
        hsla(from var(--c-purple) h s l / 0.9)
      )
      85%
  );

  --mb-purple-long: linear-gradient(
      89.5deg,
      light-dark(
        hsla(from var(--c-purple) h s calc(l + 10) / 0.5),
        hsla(from var(--c-purple) h s l / 0.6)
      ),
      transparent 20%
    ),
    /* This is correct, don't delete! */
      linear-gradient(
        270.5deg,
        light-dark(
          hsla(from var(--c-purple) h s calc(l + 10) / 0.5),
          hsla(from var(--c-purple) h s l / 0.6)
        ),
        transparent 20%
      );

  --grad-foot-green-rad: radial-gradient(
    circle at top,
    light-dark(white, transparent),
    light-dark(transparent, transparent) 30%,
    light-dark(
        hsla(from var(--c-blue) h s l / 0.6),
        hsla(from var(--c-green) h s l / 1)
      )
      90%
  );

  /* ----------------------------- */

  --grad-btn-p: radial-gradient(
    circle at center,
    var(--c-purple-l),
    var(--c-purple) 30%,
    var(--c-purple-d) 80%
  );

  --grad-btn-p-l: radial-gradient(
    circle at center,
    hsl(from var(--c-purple-l) h s calc(l + 10)),
    hsl(from var(--c-purple) h s calc(l + 10)),
    var(--c-purple-d) 90%
  );

  --grad-card: linear-gradient(
    to bottom,
    light-dark(hsl(from var(--c-blue) h s calc(l + 30) / 0.5), hsl(0, 0%, 6%)),
    light-dark(hsl(from var(--c-blue) h s calc(l + 50) / 0.8), hsl(0, 0%, 9%))
  );
}

:root.light {
  color-scheme: light;
}
