@import "layout.css";
@import "typography.css";
@import "color.css";
@import "gradient.css";
@import "shadow.css";

:root {
  color-scheme: dark;

  --bugfix: 1px solid red;

  --glass-blur: blur(10px);

  --svg-link-filter-bright: 1;
  --svg-link-brightness: calc(var(--svg-link-filter-bright) - 0.15);


}

:root.light {
  color-scheme: light;

  --svg-link-brightness: calc(var(--svg-link-filter-bright) + 0.15);
}
