/* bg-grad-oval */
:is(
    [data-page="404"],
    [data-page="home"],
    [data-page="deck"],
    [data-page="contact"],
    [data-page="warbler"],
    [data-page="patronage"]
  )
  main-box {
  background: var(--grad-mb-purple-rad);
  box-shadow: var(--glass-shadow-p);
}
/* long */
:is([data-page="faq"], [data-page="about"]) main-box {
  background: var(--mb-purple-long);
  box-shadow: var(--glass-shadow-p);
  @media (max-width: 661px) {
    background: none;
  }
}
/* bg-base */
:is(
    [data-page="404"],
    [data-page="faq"],
    [data-page="home"],
    [data-page="about"],
    [data-page="theory"],
    [data-page="contact"],
    [data-page="warbler"],
    [data-page="patronage"]
  )
  main-box {
  background-color: var(--c-page);
}

html#light main-box {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;

    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)
    );
    border-radius: 16px 16px 0 0;
    pointer-events: none;
    z-index: 2;
  }

  &.bg-base:not(.bg-grad-oval, .long) {
    background-color: var(--c-page);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
  }
}
