main-box.bg-grad-oval {
  background: var(--grad-mb-purple-rad);
  box-shadow: var(--glass-shadow-p);
}

main-box.long {
  background: var(--mb-purple-long);
  box-shadow: var(--glass-shadow-p);
}

@media (max-width: 661px) {
  main-box.long {
    background: none;
  }
}

/* Always at the bottom!! */
main-box.bg-base {
  background-color: var(--c-main-box-bg);
}

html.light main-box {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;

    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)
    );
    border-radius: 16px 16px 0 0;
    pointer-events: none;
    z-index: 2;
  }
}
