:root {
  /* COLOR */
  --purple-dark: #210735;
  --purple-dark-rgb: 33, 7, 53;
  --purple-medium: #330f4e;
  --purple-light: #56118b;

  --green-dark: #001f02;
  --green-dark-rgb: 10, 90, 35;
  --green-medium: #124a14;
  --green-light: #39ff14;

  --text-color: white;
  --sub-title-color: #b3b3b3;
  --link-color: royalblue;
  --highlight-blue: #0077ff4d;
  --highlight-blue-rgb: 0, 119, 255;

  --glass-border: #ffffff45;
  --glass-border-green: #c8ffd945;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  scroll-behavior: smooth;
}

body {
  background-image: url("/_assets/images/nnnoise.svg");
  background-color: black;
  color: var(--text-color);
  padding-top: 140px;
}

::selection {
  background-color: var(--green-medium);
  color: var(--green-light);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--purple-light) transparent;
}

.main-container {
  display: flex;
  height: calc(100vh - 168px);
  flex-wrap: wrap;
  gap: 15px;
  margin: 5px 5px 15px 5px;
}
