
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.form-container * {
  font-family: inherit;
}

form {
  padding: 10px;
  max-width: 600px;
  width: 100%;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #e0e0e0;
}

/* Label styling */
label:not(.hamburger) {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #bbb;
}

/* Input and textarea styling */
input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 30px);
  padding: 15px;
  font-size: 1.1em;
  border: none;
  border-radius: 10px;
  background-color: rgb(30, 30, 30);
  color: #fff;
  margin-bottom: 20px;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

textarea {
  resize: none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: #888;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: rgb(50, 50, 50);
}

/* Button styling */
button {
  display: block;
  width: 100%;
  padding: 15px;
  color: white;
  font-size: 1.3em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  border: 0.5px solid var(--glass-border);
  background-image: linear-gradient(to right, 
    var(--purple-dark), 
    var(--purple-light), 
    var(--purple-light), 
    var(--purple-medium));
  box-shadow: 0px 10px 20px 5px rgba(var(--purple-dark-rgb), 0.8);
}

button:hover {
  background-image: linear-gradient(to right, var(--green-dark), var(--green-medium), var(--green-dark));
  color: var(--green-light);
  transform: scale(1.05);
  box-shadow: 0px 20px 50px 5px rgba(var(--green-dark-rgb), 0.5);
}
