
/* Text-Container is in text.css */

.image-links-container {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  user-select: none;
}

.image-container {
  perspective: 1000px;
}

img.self-portrait {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
  user-select: none;
  border: 0.5px solid var(--glass-border);
  transition: 0.5s;
}

img.self-portrait:hover {
  transform: rotateY(-5deg);
}

/* LINKS */

.link-container {
  padding: 15px;
  border-radius: 20px;
  border: 0.5px solid var(--glass-border-green);
  background: 
  radial-gradient(ellipse at top, var(--green-dark), transparent);
  box-shadow: 0px 20px 50px 5px rgba(var(--green-dark-rgb), 0.5);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.link-title {
  margin: 3px 0px 0px 10px;
}

.links {
  list-style: none;
  padding: 0 10px 0 10px;
  margin: 20px 0;
}

.links li a {
  display: block;  
  text-wrap: nowrap;
  padding: 0px 0px 25px 0px;
  font-size: 18px;
}

.links li:hover, .links li:hover a  {
  color: var(--green-light);
}

.links li:hover a > .link-favicon-circle, .links li:hover a > .link-favicon-square {
  background-color: var(--green-light);
  border: 1px solid var(--green-light);
}

.copy {
  display: block; 
  border-top: 1px solid var(--green-medium);
  width: 100%; 
  padding-top: 10px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  text-wrap: nowrap;
}

.link-favicon-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: whitesmoke;
  margin: 0px 5px 0px 0px;
}

.link-favicon-square {
  width: 15px;
  height: 15px;
  border-radius: 10%;
  border: 1px solid white;
  background-color: whitesmoke;
  margin: 0px 5px 0px 0px;
}

button {
  font-size: 18px;
  width: 100%;
  padding: 15px;
  background-image: linear-gradient(to right, 
    var(--purple-dark), 
    var(--purple-light), 
    var(--purple-light), 
    var(--purple-medium));
  border-radius: 20px;
  border: 0.5px solid var(--glass-border);
  box-shadow: 5px 10px 20px 5px rgba(var(--purple-dark-rgb), 0.8);
  color: white;
  cursor: pointer;
  transition:  0.3s ease-in-out;
}

button:hover {
  box-shadow: 0px 20px 40px 10px rgba(var(--purple-dark-rgb), 0.8);
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  text-shadow: rgba(255, 255, 255, 0.3) 0px 0px 50px;
  transform: scale(1.05);
}