
/* Text-Container is in text.css */

.image-links-container {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  user-select: none;
}

.image-container {
  perspective: 1000px;
}

img.self-portrait {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
  user-select: none;
  border: 0.5px solid var(--glass-border);
  transition: 0.5s;
}

img.self-portrait:hover {
  transform: rotateY(-5deg);
}

/* LINKS */

.link-container {
  padding: 15px;
  border-radius: 20px;
  border: 0.5px solid var(--glass-border-green);
  background: 
  radial-gradient(ellipse at top, var(--green-dark), transparent);
  box-shadow: 0px 20px 50px 5px rgba(var(--green-dark-rgb), 0.5);
}

span.link-title {
  margin: 10px 0px 0px 10px;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
  text-wrap: nowrap;
}

.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  list-style: none;
  padding-left: 10px;
  margin: 2px;
}

.links li a {
  display: block;  
  text-wrap: nowrap;
  padding: 15px 0px 15px 0px;
}

.links li:hover, .links li:hover a  {
  color: var(--green-light);
}

.links li:hover .link-favicon-circle, .links li:hover .link-favicon-square {
  background-color: var(--green-light);
  border: 1px solid var(--green-light);
}

.copy {
  display: block; 
  border-top: 1px solid var(--green-medium);
  width: 100%; 
  padding-top: 10px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  text-wrap: nowrap;
}

.link-favicon-circle {
  width: calc(1rem - 3px);
  height: calc(1rem - 3px);
  border-radius: 50%;
  border: 1px solid white;
  background-color: whitesmoke;
  margin: 0px 5px 0px 0px;
}

.link-favicon-square {
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
  border-radius: 10%;
  border: 1px solid white;
  background-color: whitesmoke;
  margin: 0px 5px 0px 0px;
}
