.text-container {
  flex: 2;
  padding: 40px 40px 20px 40px;
  border-radius: 20px;
  border: 0.5px solid var(--glass-border);
  box-shadow: 0px 10px 20px 5px rgba(var(--purple-dark-rgb), 0.9);
  background: radial-gradient(
    ellipse at top,
    rgba(30, 30, 30, 0.7),
    transparent,
    rgba(var(--purple-dark-rgb), 0.9)
  );
  font-size: larger;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
}

.text-container:has(.long-text) {
  background: radial-gradient(
    ellipse at top,
    rgba(20, 20, 20),
    transparent,
    rgba(var(--purple-dark-rgb), 0.8)
  );
}

.long-text {
  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    padding: 10px 20px;
    text-indent: 15px;
    border: 1px solid transparent;
  }
  p:first-of-type {
    padding-top: 20px;
  }
  p:last-of-type {
    padding-bottom: 20px;
  }

  label {
    user-select: none;
    cursor: pointer;
    position: fixed;
    top: 170px;
    left: 35px;
  }
  #reading-background {
    cursor: pointer;
    position: fixed;
    top: 172px;
    left: 258px;
    accent-color: green;
  }
}
p {
  font-size: 20px;
  margin: 0;
  line-height: 1.75;
  text-align: left;
  hyphens: auto;
  overflow-wrap: break-word;
}

#reading-background:checked ~ p {
  background-color: rgba(32, 32, 32, 0.4);
  border-left: 1px solid var(--glass-border);
  border-right: 1px solid var(--glass-border);
  backdrop-filter: blur(21px);
}
#reading-background:checked ~ p:first-of-type {
  border-radius: 10px 10px 0px 0px;
  border-top: 1px solid var(--glass-border);
  padding-top: 20px;
}
#reading-background:checked ~ p:last-of-type {
  border-radius: 0px 0px 10px 10px;
  border-bottom: 1px solid var(--glass-border);
  padding-bottom: 20px;
}

details {
  line-height: 1.75;
}

summary {
  cursor: pointer;
  user-select: none;
}

details ul {
  margin: 5px;
}

h1 {
  font-size: clamp(32px, 5vw, 48px);
  margin-top: 0px;
  margin-bottom: 35px;
  text-align: start;

  a {
    text-decoration: underline;
  }
}

.main-h1 {
  width: 15ch;
  animation: typing 3s steps(15);
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Courier";
}

@keyframes typing {
  from {
    width: 0;
  }
}

h2 {
  font-size: clamp(24px, 4vw, 36px);
  border-top: 0.5px solid var(--glass-border);
  padding-top: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h3 {
  font-size: clamp(20px, 3.5vw, 28px);
}

h4 {
  font-size: clamp(18px, 3vw, 24px);
}

h5 {
  font-size: clamp(16px, 2.5vw, 20px);
}

h6 {
  font-size: clamp(14px, 2vw, 18px);
}

i,
em {
  font-family: "Times-New-Roman", Times, serif;
  font-size: 18px;
}

strong {
  color: orange;
}

.long-text p {
  max-width: 80ch;
}

strong {
  font-weight: normal;
}

q {
  margin: 0 10% 0 10%;
}

a {
  color: white;
  text-decoration: none;
}

.text-container a:not(.hiden-link) {
  color: var(--link-color);
}

.text-container a:hover {
  text-decoration: underline;
}

.nowrap {
  text-wrap: nowrap;
}

footer {
  margin-top: 40px;
  padding-top: 5px;
}

footer p {
  line-height: 1.5;
  padding: 2px;
}

.footnotes {
  padding-left: 20px;
}

.footnotes li {
  text-align: left;
}

.footnotes p {
  text-align: left;
}

.footnote-back {
  scroll-margin-top: 40vh;
}

:target {
  animation: highlight ease-in-out 5s;
}

@keyframes highlight {
  from {
    background-color: black;
    box-shadow: 0px 0px 5px 5px rgba(255, 166, 0, 0.7);
  }
  to {
    background-color: transparent;
    box-shadow: 0px 0px 5px 5px transparent;
  }
}

.two-column {
  column-count: 2;
  column-gap: 2em;
}

iframe {
  user-select: none;
  width: 100%;
  height: calc(100vh - 168px);
  border-radius: 20px;
  border: 0.5px solid var(--glass-border);
  box-shadow: 0px 10px 20px 5px rgba(var(--purple-dark-rgb), 0.9);
}
