aside {
  display: flex;
  flex-direction: column;
  gap: 7px;
  z-index: 99;
}

@media (min-width: 600px) {
  aside {
    position: fixed;
    top: 88px;
    left: 9px;
    height: calc(100vh - 97px);
    overflow-y: auto;
    width: clamp(300px, 35vw, 390px);
  }

  /* Add margin to main content so it's not hidden under the fixed aside */
  main {
    margin-left: calc(clamp(300px, 35vw, 390px) + 9px);
    padding-left: 0.6rem !important;
  }
}

@media (max-width: 600px) {
  pspotify-p {
    max-width: fit-content;
  }
  pspotify-p img {
    min-width: calc(100vw - 12px);
  }
  gallery-row {
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    width: 100%;
    max-height: 100vw !important;
    margin-bottom: 5px !important;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

pspotify-p {
  position: relative;
  margin: 0;
  max-width: 100%;
  aspect-ratio: 3 / 1;
  background-color: #181818;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    box-shadow: inset 0px -10px 25px -10px rgba(0, 0, 0, 0.6),
      inset 0px 15px 20px -10px rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
}

footer {
  padding: 15px;
  padding-left: 0px;
  background: radial-gradient(
    ellipse 90% 140% at top,
    hsl(0, 0%, 6%) 45%,
    hsla(var(--color-green-light-a), 0.2)
  );
  position: relative;
  p {
    margin-top: 0px;
  }
}

footer svg {
  transform: translateY(5px);
}

footer a {
  text-decoration: underline;
}

details {
  border-left: 2px solid orange;
  padding-left: 20px;
  margin-top: 20px;
  & summary::marker {
    color: orange;
  }
}

gallery-row {
  padding-left: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  width: 100%;
  max-height: 93%;
  margin-bottom: 40px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(119, 255, 144, 0.15) transparent;
  position: relative;
  direction: rtl;
  overscroll-behavior: contain;
}

gallery-row::-webkit-scrollbar {
  width: 2px;
}

gallery-row::-webkit-scrollbar-track {
  background: transparent;
}

gallery-row::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

gallery-row::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

gallery-row img {
  direction: ltr;
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  cursor: pointer;
}
