aside {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

@media (min-width: 600px) {
  aside {
    width: clamp(500px, 35vw, 40vw);
  }
}

@media (max-width: 600px) {
  pspotify-p {
    max-width: fit-content;
  }
  pspotify-p img {
    min-width: calc(100vw - 12px);
  }
}

pspotify-p {
  position: relative;
  margin: 0;
  aspect-ratio: 3 / 1;
  background-color: #181818;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    box-shadow: inset 0px -10px 25px -10px rgba(0, 0, 0, 0.6),
      inset 0px 15px 20px -10px rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
}

footer {
  padding: 15px;
  background: radial-gradient(
    ellipse 90% 140% at top,
    hsl(0, 0%, 6%) 45%,
    hsla(var(--color-green-light-a), 0.2)
  );

  p {
    margin-top: 0px;
  }
}

footer svg {
  transform: translateY(5px);
}

footer a {
  text-decoration: underline;
}

details {
  border-left: 2px solid orange;
  padding-left: 20px;
  margin-top: 20px;

  & summary::marker {
    color: orange;
  }
}
