img[src="/SRC/btn.gif"] {
  display: inline-block;
  margin-left: 8px;
  transform: scale(1.1);
  transition: transform 0.2s ease;
  vertical-align: text-bottom;
  will-change: transform;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

ul:has(img[src="/SRC/btn.gif"]:hover)
  ~ code
  img[src="/SRC/asset/icon/pointing-hand.png"] {
  opacity: 1;
}

img[src="/SRC/btn.gif"]:hover {
  transform: scale(1.2);
}
img[src="/SRC/btn.gif"]:active {
  transform: scale(1.05);
}

img[src="/SRC/asset/svg/rss.svg"] {
  display: inline-block;
  padding: 1px;
  padding-right: 5px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

a:hover image[src="/SRC/asset/svg/rss.svg"] {
  filter: brightness(1.2);
}

@media screen and (max-width: 480px) {
  /* Reduce transform scale on small screens */
  img[src="/SRC/btn.gif"] {
    transform: scale(1.05);
  }

  img[src="/SRC/btn.gif"]:hover {
    transform: scale(1.1);
  }
}

section:has(ul) ul {
  margin-block: 10px 0;

  li {
    margin-top: 10px;
  }
}

article ul li::marker {
  content: "※ ";
  color: orange;
}
