nav:has(a[href="/rss.xml"]) {
  border-bottom: 1px solid var(--color-alt-white);
}

nav:has(a[href="/rss.xml"]) ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10ch;
  list-style: none;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  li::marker {
    content: none;
  }
}

nav:has(a[href="/rss.xml"]) a {
  color: var(--color-alt-white);
}

nav:has(a[href="/rss.xml"]) a:hover {
  color: white;
}

buttons-88x31 {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 10px !important;
  margin: 20px 0;
}

buttons-88x31 img {
  border-radius: 2px;
}

buttons-88x31 a:hover {
  outline: 1px solid white;
  border-radius: 2px;
}

img[src="/SRC/btn.gif"] {
  display: inline-block;
  margin-left: 8px;
  transform: scale(1.1);
  transition: transform 0.2s ease;
  vertical-align: text-bottom;
  will-change: transform;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

ul:has(img[src="/SRC/btn.gif"]:hover)
  ~ code
  img[src="/SRC/asset/icon/pointing-hand.png"] {
  opacity: 1;
}

img[src="/SRC/btn.gif"]:hover {
  transform: scale(1.2);
}

img[src="/SRC/btn.gif"]:hover
  ~ code
  img[src="/SRC/asset/icon/pointing-hand.png"] {
  opacity: 1;
}

img[src="/SRC/asset/icon/pointing-hand.png"] {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  opacity: 0;
  position: absolute;
  width: 75px;
  top: 8px;
  left: -80px;
  transition: opacity 0.2s ease;

  /* filter: 
  drop-shadow(4px 0 0 orange)
  drop-shadow(-4px 0 0 orange)
  drop-shadow(0 4px 0 orange)
  drop-shadow(0 -4px 0 orange); */
}

tech-stack-icons {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
  flex-wrap: wrap;
}

tech-stack-icons img {
  width: 50px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  height: 50px;
}

tech-stack-icons a:hover img,
tech-stack-icons a:focus-visible img {
  border-radius: 12px;
  filter: brightness(1.15);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.1);
}

tech-stack-icons a:focus-visible {
  border-radius: 12px;
}

img[src="/SRC/asset/svg/rss.svg"] {
  display: inline-block ;
  padding: 1px;
  padding-right: 5px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

a:hover image[src="/SRC/asset/svg/rss.svg"] {
  filter: brightness(1.2);
}

.morse {
  white-space: nowrap;
  overflow: hidden;
}
