#exit-nav-internal {
  border-bottom: 1px solid var(--color-alt-white);
}

article#exit nav a {
  color: var(--color-alt-white);
}

article#exit nav a:hover {
  color: white;
}

buttons-88x31 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 10px !important;
  margin: 20px 0;
}


buttons-88x31 img {
  border-radius: 2px;
}

buttons-88x31 a:hover {
  outline: 1px solid white;
  border-radius: 2px;
}

.button-gif {
  display: inline-block;
  margin-left: 8px;
  transform: scale(1.1);
  transition: transform 0.2s ease;
  vertical-align: text-bottom;
  will-change: transform;
}

ul:has(.button-gif:hover) ~ .code .pointing-hand {
  opacity: 1;
}

.button-gif:hover {
  transform: scale(1.2);
}

.button-gif:hover ~ .code .pointing-hand {
  opacity: 1;
}

.code {
  position: relative;
  margin-block: 20px;
  font-size: 1.1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pointing-hand {
  opacity: 0;
  position: absolute;
  scale: 0.25;
  top: -45px;
  left: -200px;
  transition: opacity 0.2s ease;
  /* filter: 
  drop-shadow(4px 0 0 orange)
  drop-shadow(-4px 0 0 orange)
  drop-shadow(0 4px 0 orange)
  drop-shadow(0 -4px 0 orange); */
}

tech-stack-icons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
  flex-wrap: wrap;
}

tech-stack-icons img {
  width: 50px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  height: 50px;
}

tech-stack-icons a:hover img,
tech-stack-icons a:focus-visible img {
  border-radius: 12px;
  filter: brightness(1.15);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.1);
}

tech-stack-icons a:focus-visible {
  border-radius: 12px;
}

.rss-icon {
  display: inline;
  padding: 1px;
  padding-right: 5px;
}

a:hover .rss-icon {
  filter: brightness(1.2);
}


