aside {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

aside img {
  width: 500px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.4);
  flex: 0 0 auto;
}

@media (max-width: 600px) {

  aside img {
    min-width: 100%;
  }

  footer {
    padding: 20px 0px !important;
  }
}

footer {
  flex: 1 1 auto;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  min-width: fit-content;
  justify-content: space-between;
}

footer a[href="/tavern/contact"] {
  z-index: 1;
}

p:has(a[href="/colophon"]) {
  margin: 0;
  font-size: 1.3rem;
  color: silver;
  line-height: 1;
}

a[href="/colophon"] {
  text-decoration-line: underline;
  text-decoration-color: silver;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 3px;
}

a[href="/colophon"]:focus-visible {
  border-radius: 3px;
}

a[href="/colophon"]:hover {
  color: white;
  text-decoration-line: underline;
  text-decoration-color: white;
  text-decoration-thickness: 0.5px;
}

@media (min-width: 600px) {
  aside {
    height: auto;
    gap: 0.6rem;
  }

  aside img {
    display: block;
    flex: 0 0 auto;
    position: relative;
  }

  footer a[href="/tavern/contact"] {
    z-index: 1;
  }
}
