aside {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (max-width: 600px) {
  #cta-exit {
    padding: 20px 0px !important;
  }
}

image-aside {
  flex: 0 0 auto;
}

#pfp {
  width: 100%;
}

#cta-exit {
  flex: 1 1 auto;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  min-width: fit-content;
  justify-content: space-between;
}

span:has(#exit) {
  font-size: 1.3rem;
  color: silver;
}

#exit {
  text-decoration-line: underline;
  text-decoration-color: silver;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 3px;
}

#exit:focus-visible {
  border-radius: 3px;
}

#exit:hover {
  color: white;
  text-decoration-line: underline;
  text-decoration-color: white;
  text-decoration-thickness: 0.5px;
}

@media (min-width: 600px) {
  aside {
    height: auto;
    gap: 0.6rem;
  }

  image-aside {
    display: block;
    flex: 0 0 auto;
    position: relative;
    max-width: 600px;
  }

  #cta-exit {
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 2rem auto;
    min-height: max-content;
  }

  #cta {
    z-index: 1;
  }
}
