h1 {
  margin-block: 2rem;
}

@media (max-width: 600px) {
  h1 {
    margin-block: 0rem !important;
    line-height: 1;
  }
}

.staticrypt-password-container {
  margin-top: 2rem;
}
label {
  font-size: 2rem;
}
input[type="password"] {
  color: white;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.2rem;
  margin-bottom: 1.5rem;
  background-color: var(--color-gray-800);
  border-radius: 10px;
  padding: 0.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.25rem;
  font-size: 1.5rem;
  font-family: inherit;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 5px 5px hsla(0, 0%, 10%, 1),
    0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  &:focus {
    background-color: var(--color-gray-750);
    box-shadow: inset 0 0 5px 5px hsla(0, 0%, 10%, 0.3);
    outline: none;
    border-radius: 10px;
  }
}

.staticrypt-decrypt-button {
  text-decoration: none;
  font-weight: bold;
  user-select: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 12px;
  padding-bottom: 8px;
  width: 100%;
  border-radius: 20px;
  background: radial-gradient(
    circle at center,
    var(--color-purple),
    var(--color-purple),
    var(--color-purple-dark)
  );
  color: var(--color-gray-100);
  font-size: 1.6rem;
  font-family: inherit;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.staticrypt-decrypt-button:hover,
.staticrypt-decrypt-button:focus-visible {
  transform: scale(1.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  background: radial-gradient(
    circle at center,
    var(--color-purple-hover),
    var(--color-purple-hover),
    var(--color-purple),
    var(--color-purple-dark)
  );
  box-shadow: 0px 15px 19px 2px rgba(0, 0, 0, 0.2);
}

noscript-span {
  margin-top: -20px;
}
