@import "theme/main-box.css";
@import "layout/aside.css";
@import "element/svg-sigil.css";
@import "element/btn.css";

aside > img {
  border-radius: var(--br-l);
  border: var(--glass-border-b);
  box-shadow: var(--glass-shadow);
  width: 500px; /* These two are for the smooth scaling. */
  max-width: 100%; /* Idk how they work, but don't delete! */
  user-select: none;
  -moz-user-select: none;
}

svg-links {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  scale: 0.8;
}

a[href="/tavern/warbler"] img {
  transform: scaleX(-1);
}

svg-links a img {
  filter: drop-shadow(2px 2px 4px hsla(0, 0%, 0%, 0.7)) saturate(0)
    brightness(var(--svg-link-brightness));
}

svg-links a:hover img {
  filter: drop-shadow(2px 2px 4px hsla(0, 0%, 0%, 0.7)) saturate(1)
    brightness(var(--svg-link-brightness));
}


html.light {
  aside:has(> img) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 25%;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0)
      );
      border-radius: 16px 18px 0 0;
      pointer-events: none;
      z-index: 2;
    }
  }

  aside > img {
    filter: brightness(1.05) contrast(0.95) sepia(0.05) hue-rotate(240deg);
  }
}

@media (max-width: 599px) {
  aside img {
    min-width: 100%;
  }
}
