:root {
  --color-page: #121212;
  --color-text: hsl(0 0% 80%);
  --color-text-d: oklch(from var(--color-text) 50% c h);
  --color-link: hsl(210, 70%, 50%);
  --color-link-l: oklch(from var(--color-link) 70% c h);
  --color-link-d: oklch(from var(--color-link) 40% c h);
  --font-mono: 12pt "departure-mono";
  --font-size: 15pt;
  --line-height: 1.5;
  --page-width: 70ch;
}

::selection {
  background-color: var(--color-text);
  color: var(--color-page);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-page);
  color: var(--color-text);
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: 10px;
  scrollbar-color: var(--color-text) transparent;
  scrollbar-width: thin;
}

body {
  margin-inline: auto;
  max-inline-size: var(--page-width);
}

header {
  ul {
    color: var(--color-text-d);
    font: var(--font-mono);
    list-style: none;

    *::selection {
      background-color: var(--color-text-d);
      color: var(--color-page);
    }

    &::before,
    &::after {
      content: "---";
    }

    li + li {
      margin-top: 1px;
    }
  }
}

header ul li mark {
  background-color: oklch(from var(--tag-color) l c h / 0.15);
  border-radius: 999px;
  color: var(--tag-color);
  padding: 0 1ch;

  &:first-of-type {
    margin-inline-end: -0.25ch;
  }

  & + mark {
    margin-inline: -0.25ch;
  }

  &::selection {
    color: var(--tag-color);
    background-color: oklch(from var(--tag-color) l c h / 0.2);
  }

  &:is(#vampire, #adventure, #psycho, ) {
    --tag-color: hsl(0, 75%, 50%);
  }
  &:is(#horror, #dark-fantasy, ) {
    --tag-color: hsl(277, 80%, 50%);
  }
  &:is(#fantasy, ) {
    --tag-color: hsl(257, 100%, 65%);
  }
  &:is(#poetry, #ballad, ) {
    --tag-color: hsl(208, 80%, 50%);
  }
  &:is(#sci-fi, ) {
    --tag-color: hsl(129, 80%, 35%);
  }
}

header ul li a,
a {
  color: var(--color-link);
  &::selection {
    color: var(--color-link);
  }

  &:hover,
  &:hover::selection {
    color: var(--color-link-l);
  }

  &:active,
  &:active::selection {
    color: var(--color-link-d);
  }
}

img {
  background-color: var(--color-page);
  margin-block: 1rem 0;
  max-width: 100%;

  &[src=""] {
    display: none;
  }
}

h1 {
  background-color: var(--color-page);
  font-size: clamp(1rem, 8vw, 2rem);
  font-weight: normal;
  letter-spacing: 0.18em;
  line-height: 1;
  margin-block: clamp(1rem, 8vw, 1.5rem);
  margin-left: -10px;
  padding: 5px 0;
  position: sticky;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: calc(100% + 20px);
}

article {
  p + p {
    text-indent: 1.5em;
  }

  p,
  blockquote {
    hyphens: auto;
    line-break: auto;
    text-align: justify;
    word-break: normal;

    &:first-of-type::first-letter {
      float: left;
      font-size: 2em;
      font-weight: bold;
      margin-right: 0.1em;
    }
  }

  blockquote {
    margin-bottom: 25px;
    margin-left: clamp(5px, 20%, 100px);
    text-align: left;
  }

  p-center {
    margin-left: 20%;
  }

  poetry-block {
    display: block;
    margin-inline: auto;
    width: fit-content;

    p {
      line-height: 2;
      margin-block: 20px;
      text-align: left;
      text-indent: 0;
    }
  }
}

hr {
  border: none;
  margin: 1em 0;
  position: relative;
  text-align: center;

  &::before {
    color: var(--color-text-d);
    content: "* * *";
    font-size: 1em;
    letter-spacing: 1em;
  }
}

footer {
  border-top: 2.2px dashed var(--color-text-d);
  color: var(--color-text-d);
  font: var(--font-mono);
  margin-block: 100px 50px;
  padding-block: 15px 0;
  text-align: center;

  *::selection {
    background-color: var(--color-text-d);
    color: var(--color-page);
  }
}

@media (max-width: 500px) {
  article blockquote {
    margin-left: 15px;
  }
}
