:root {
  /* LAYERS */
  --z-below: -1; /* behind siblings */
  --z-base: 0; /* default resting layer */
  --z-raised: 10; /* hover lifts, active tabs */
  --z-dropdown: 100; /* menus, autocomplete */
  --z-sticky: 200; /* fixed headers, sidebars */
  --z-overlay: 300; /* modal backdrop */
  --z-modal: 400; /* dialogs, drawers */
  --z-toast: 500; /* notifications, alerts */
  --z-tooltip: 600; /* always on top */

  /* FONT */
  --f-size-def: 15px;

  --f-size-brand: clamp(1.5rem, 2vw + 1rem, 2.5rem);

  --ff-lit: "cochin";

  /* COLORS */
  --thumb-bg: hsla(0, 0%, 100%, 0.8);

  --white: hsl(0, 0%, 90%);
  --white-l: white;

  --c-bg: black;
  --c-text: hsl(0, 0%, 90%);

  --c-a-text: var(--c-text);
  --c-a-text-l: oklch(from var(--c-a-white) 1 c h);

  --c-purple: hsl(270, 80%, 20%);
  --c-purple-l: hsl(from var(--c-purple) h s 25%);

  --c-g-90: hsl(225, 40%, 98%);
  --c-g-85: hsl(225, 40%, 97%);
  --c-g-80: hsl(225, 40%, 96%);
  --c-g-75: hsl(225, 40%, 93%);
  --c-g-70: hsl(220, 29%, 90%);
  --c-g-65: hsl(220, 29%, 85%);
  --c-g-60: hsl(219, 20%, 80%);
  --c-g-55: hsl(219, 20%, 70%);
  --c-g-50: hsl(219, 10%, 60%);
  --c-g-45: hsl(219, 10%, 50%);
  --c-g-40: hsl(221, 8%, 40%);
  --c-g-35: hsl(221, 8%, 30%);
  --c-g-30: hsl(218, 8%, 20%);
  --c-g-25: hsl(218, 8%, 16%);
  --c-g-20: hsl(220, 5%, 12%);
  --c-g-15: hsl(220, 5%, 9%);
  --c-g-10: hsl(210, 6%, 7%);

  /* OTHER */
  --glass-border: 1px solid rgba(255, 255, 255, 0.3);
  --glass-blur: blur(10px);
  
  --b-shadow: 20px 30px 25px rgba(10, 10, 10, 0.4);
}

/* THEMES WILL GO HERE */

:root[data-theme="light"] {
  /* COLORS */
  --thumb-bg: hsla(0, 0%, 0%, 0.8);

  --c-bg: hsl(0, 0%, 80%);
  --c-text: black;

  --c-purple: hsl(270, 80%, 35%);
  --c-purple-l: hsl(from var(--c-purple) h s 45%);

  --c-g-10: hsl(225, 40%, 98%);
  --c-g-15: hsl(225, 40%, 97%);
  --c-g-20: hsl(225, 40%, 96%);
  --c-g-25: hsl(225, 40%, 93%);
  --c-g-30: hsl(220, 29%, 90%);
  --c-g-35: hsl(220, 29%, 85%);
  --c-g-40: hsl(219, 20%, 80%);
  --c-g-45: hsl(219, 20%, 70%);
  --c-g-50: hsl(219, 10%, 60%);
  --c-g-55: hsl(219, 10%, 50%);
  --c-g-60: hsl(221, 8%, 40%);
  --c-g-65: hsl(221, 8%, 30%);
  --c-g-70: hsl(218, 8%, 20%);
  --c-g-75: hsl(218, 8%, 16%);
  --c-g-80: hsl(220, 5%, 12%);
  --c-g-85: hsl(220, 5%, 9%);
  --c-g-90: hsl(210, 6%, 7%);


  /* OTHER */
  --glass-border: 1px solid rgba(20, 20, 20, 0.25);

}
