/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  overflow-wrap: break-word;
  hyphens: auto;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: var(--lh-s);
  overflow-wrap: break-word;
}
p {
  overflow-wrap: break-word;
}
button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  outline: none;
  box-shadow: none;
}

/* BASE STYLES */
:root {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

html {
  font-size: var(--f-size-def);
  background-color: var(--c-canvas-bg);
  color: var(--c-text);
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
  scroll-padding-top: 100px;
  scrollbar-gutter: auto;
  caret-color: orange;
}

body {
  font-family: var(--ff-lit);
  margin-top: var(--body-margin-top);
  height: calc(100vh - var(--body-margin-top));
  line-height: var(--lh-m);
}

main {
  min-height: 100%;
  padding: 0 9px 9px 9px;
  display: flex;
  gap: 9px;
}

main-box {
  display: block;
  width: 100%;
  border-radius: var(--br-l);
  border: var(--glass-border);

  min-height: 20px;
  min-width: 20px;
}

a {
  color: var(--c-text-a);

  &:hover {
    color: var(--c-text-a-hov);
  }
  &:active {
    color: var(--c-text-a-act);
  }
  &:visited {
    color: var(--c-text-a-v);
  }
  &:visited:hover {
    color: var(--c-text-a-v-hov);
  }
  &:visited:active {
    color: var(--c-text-a-v-act);
  }
}

a:not(.note a, deck-section a, [href^="/"], [href^="#"], :has(img))::after {
  content: "";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  margin-left: 0.2em;
  vertical-align: text-bottom;
  margin-bottom: 2px;
  font-size: 1.4rem;
  background-color: var(--c-text);
  background-size: contain;
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6'/><path d='m21 3-9 9'/><path d='M15 3h6v6'/></svg>")
    no-repeat center / contain;
}

a:not(
    .note a,
    deck-section a,
    [href^="/"],
    [href^="#"],
    :has(img)
  ):hover::after {
  content: "";
  background-color: var(--c-text);
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6'/><path d='m21 3-9 9'/><path d='M15 3h6v6'/></svg>")
    no-repeat center;
}

html.light {
  main a {
    font-weight: bold;
  }
}

@media (max-width: 660px) {
  p {
    text-wrap: pretty;
    text-wrap: balance;
  }

  body {
    min-height: calc(100vh - var(--body-margin-top-mobile));
    margin-top: var(--body-margin-top-mobile);
  }

  main {
    flex-direction: column;
    padding: 0.4rem;
    gap: 0.4rem;
  }

  main-box {
    flex: 1;
    min-height: fit-content;
  }

  main a {
    font-weight: bold;
  }
}
