article,
faq-container {
  font-size: var(--f-size-m);
  box-sizing: content-box; /* To make the text itself 70ch */
  max-inline-size: 70ch;
  margin-inline: auto;
  padding: 2rem min(5rem, 4%);
  display: block;
}

/* HEADERS */

h1 {
  --base-fs: var(--f-size-h1);
}
h2 {
  --base-fs: var(--f-size-h2);
}
h3 {
  --base-fs: var(--f-size-h3);
}
h4 {
  --base-fs: var(--f-size-h4);
}
h5 {
  --base-fs: var(--f-size-h5);
}
h6 {
  --base-fs: var(--f-size-h6);
}

h1 {
  font-size: var(--base-fs);
  margin-block: var(--mp-s);
  text-align: center;
}

h2 {
  font-size: var(--base-fs);
  margin-block: var(--mp-l) calc(var(--mp-s) / 2);
}
h3 {
  font-size: var(--base-fs);
  margin-block: var(--mp-l) var(--mp-s);
}

/* PARAGRAPH */

:is(h1, h2, h3, h4, h5, h6) + p {
  margin-top: 0;
}

:is(p, hr) + :is(p, ol, ul) {
  margin-top: var(--mp-m);
}

/* LISTS */

ul li::marker {
  content: "◈ ";
  color: var(--c-high-light);
}
ol li::marker {
  font-family: var(--ff-type);
  font-size: 1.3rem;
  color: var(--c-high-light);
}

details {
  border-left: 2px solid var(--c-high-light);
  padding-left: 20px;
  margin-top: 20px;
}

summary {
  cursor: pointer;
  font-weight: bold;

  &::marker {
    color: var(--c-high-light);
  }
}

faq-container {
  padding-top: 0;
}

faq-container details {
  background-color: light-dark(var(--c-g-40), var(--c-g-20));
  border-radius: 2px  5px 5px 2px;
}

/* inline */

em {
  font-style: oblique 15deg;
}

/* Classes */

body[data-page="home"] h1 {
  color: light-dark(var(--c-purple-d), var(--c-g-65));
  text-align: left;
}

h1.small-h1 {
  font-size: clamp(1.9rem, 6vw, 3.5rem);
}

.error {
  color: light-dark(red, orangered);
  font-size: calc(var(--base-fs) - 0.7rem);
  font-family: var(--ff-mono);
}

/* --------------------------------- */
