article {
  font-size: var(--f-size-m);
  box-sizing: content-box; /* To make the text itself 70ch */
  max-inline-size: 70ch;
  margin-inline: auto;
  padding: 2rem min(5rem, 4%);
}

#brand-title span {
  line-height: var(--lh-s);
  font-size: var(--f-size-brand);
  letter-spacing: 0.05em;
  hyphens: none;
}

/* HEADERS */

h1 {
  font-size: var(--f-size-h1);
  margin-block: var(--mp-s);
}

h1.hero {
  color: light-dark(var(--c-purple-d), var(--c-g-65));
}

h1.small-h1 {
  font-size: clamp(1.9rem, 6vw, 3.5rem);
}

h2 {
  font-size: var(--f-size-h2);
  margin-block: var(--mp-l) calc(var(--mp-s) / 2);
}
h3 {
  font-size: var(--f-size-h3);
  margin-block: var(--mp-l) var(--mp-s);
}

/* PARAGRAPH */

:is(h1, h2, h3, h4, h5, h6) + p {
  margin-top: 0;
}

p + p {
  margin-top: var(--mp-m);
}

/* LISTS */

ul li::marker {
  content: "◈ ";
  color: light-dark(var(--c-blue) /* hsl(270, 80%, 35%) */, hsl(39, 100%, 50%));
}
ol li::marker {
  font-family: var(--ff-type);
  font-size: 1.3rem;
  color: light-dark(var(--c-blue) /* hsl(270, 80%, 35%) */, hsl(39, 100%, 50%));
}

details {
  border-left: 2px solid
    light-dark(var(--c-blue) /* hsl(270, 80%, 35%) */, hsl(39, 100%, 50%));
  padding-left: 20px;
  margin-top: 20px;

  & summary::marker {
    color: light-dark(
      var(--c-blue) /* hsl(270, 80%, 35%) */,
      hsl(39, 100%, 50%)
    );
  }
}

/* --------------------------------- */

@media (max-width: 599px) {
  p {
    text-align: justify;
  }
}
